#loading {
  margin-top: 100px;
}

#header {
    padding: 50px 50px 0px 50px;
    background-color: yellow;
}

h1 {
  padding-bottom: 30px;
}

input, button {
  margin: 10px 10px 2px 10px;
}

input {
  padding: 0 5px 0 5px;
}

#bottom {
  background-image: url(https://static.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 800px;
}


#controller {
  padding: 10px;
}

#pizza-box {
  background:rgba(255,255,255, 0.8);
  border: 1px solid black;
  padding: 30px;
}

li {
  padding: 5px;
}
